.price-card {
  width: 380px;
  height: 770px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-right: 18px;
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__square {
  display: block;
  position: absolute;
  width: 147px;
  top: 30px;
  right: -30px;
  background: #dc3f45;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  transform: rotate(45deg);
  color: #FFFFFF;
}
.price-card__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 130px;
}
.price-card__title {
  margin: 0;
  font-size: 35px;
  line-height: 43px;
  font-weight: 700;
  color: #FFFFFF;
}
.price-card__website {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: 300;
}
.price-card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #FFFFFF;
  width: 380px;
  height: 105px;
  background: #5BB189;
}
.price-card__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-card__text {
  margin: 0;
  margin: 40px 26px 40px 26px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
.price-card__options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.price-card__list-item {
  display: flex;
  align-items: center;
  font-style: normal;
  height: 50px;
  width: 380px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.price-card__list-item:nth-child(odd) {
  background: #2a3438;
}
.price-card__list-icon {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-left: 22px;
  margin-right: 22px;
}
.price-card__list-icon_green {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
  background-repeat: no-repeat;
}
.price-card__list-icon_blue {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  background-repeat: no-repeat;
}
.price-card__list-icon_orange {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
  background-repeat: no-repeat;
}
.price-card__order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 40px;
  margin-left: 112px;
  margin-top: 39px;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  outline: none;
  border: transparent;
  background: #5BB189;
}
.price-card__color-blue {
  background: #3A6BA5;
}
.price-card__color-orange {
  background: #EC632A;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.content {
  width: 100%;
  height: 100vh;
  background: #141B1C;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
