@import 'price-card';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 1440px;
    height: 1000px;
    background: #141B1C;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}